<div class="container">
    <div class="title-area">
        <h1 class="items">Items</h1>
        <div class="add-button" (click)="redirectNewChecklistItem(customerId)">
            <i class="ri-add-line"></i>
            New Checklist Item
        </div>
    </div>
    <app-detail-customer-checklist-header></app-detail-customer-checklist-header>
    <div *ngFor="let item of checklist">
        <app-detail-customer-checklist-row [checklistItem]="item"></app-detail-customer-checklist-row>
    </div>
</div>
<p id="eol">END OF LIST</p>