.container {
    background-color: #F1F1F1;
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.clients {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
}

.add-button {
    padding: 0.4rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
}

#eol {
    width: 100%;
    text-align: center;
}

