.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.complete-button {
    cursor: pointer;
    background-color: #00AEF0;
    padding: 1rem 1.5rem;
    display: inline-block;
    height: auto;
    text-transform: uppercase;
    color: white;
    border-radius: 1rem;
}