<div class="container">
    <div class="left">
        <h1 class="name">{{customer.firstName}} {{customer.lastName}}</h1>
        <div class="contact">
            <h2 class="contact-text">
                {{customer.email}}
            </h2>
            <h2 class="contact-text">
                {{customer.phone}}
            </h2>
        </div>
    </div>
    <div class="right">
        <app-chip text={{customer.kycStatus}}></app-chip>
        <h2 class="contact-text">{{customer.address}}</h2>
    </div>
</div>